.base-1{
        position: relative;
        border-style: double;
        border-color: lightslategray;
        padding: 300px;
        width: 300px;
        height: 280px;
        display: inline-block;
        }
        
        .base-2{
            position: relative;
            top: 70px;
            right: 280px;
            border-style: double;
            border-color: rgb(77, 161, 122);
            width: 750px;
            padding: 50px;
            height: 250px;
            
        } 
        
        
        .titulo-1{
        position: absolute;
        top: 20px;
        left: 20px;
        border-style: double;
        border-color: rgb(77, 161, 122);
        width: 200px;
        padding: 2px;
        display: inline-block;
        }
        
        .subtitulo-1{
            position: absolute;
            top: 120px;
            left: 20px;
            border-style: double;
            border-color: rgb(77, 161, 122);
            width: 845px;
            padding: 2px;
            height: 100px;
        
        }
        
        .parrafo_1{
            position: absolute;
            top: 240px;
            left: 20px;
            border-style: double;
            border-color: rgb(77, 161, 122);
            width: 848px;
            padding: 1px;
            height: 130px;
        
        }
        
        .parrafo_2{
            
            position: absolute;
            top: 240px;
            left: 20px;
            border-style: double;
            border-color: rgb(77, 161, 122);
            width: 850px;
            padding: 1px;
            height: 250px;
        
        }
        
        
        #img{  
            position: absolute;
            width: 280px;
            height: 250px;
            border-color: rgb(77, 161, 122);
            border-style: double;
            border-radius: 20px;
        
        }
        
        .desc{
        
            position: absolute;
            width: 380px;
            height:250px;
            left: 400px;
            border-radius: 20px;
               
        }
        
        .list{
                
            position: absolute;
            top: 510px;
            left: 20px;
            width: 180px;
            padding: 20px;
            height: 90px;
        
        }
        
        .enviar{
            position: absolute;
            bottom: 0px;
            right: 0px;
            display: block;
        
        }
        
        .base-3{
            /*position: relative;*/
            border-style:  double;
            border-color: lightslategray;
            /*padding: 300px;*/
            width: 1500px;
            height: 500px;
            display: inline-block;


        }


        .base-3 > div  {
            width: 250px;
            height: 250px;
            
            max-width: 250px;
            max-height: 250px;
            border: 1px double ;
            display: inline-block;

        }
        .caja1{
            background: lightcyan;
            
        }
        
        .caja2{
            background-color: lightgray;
            
        }

        .caja3{
            background: lightpink;
            

        }
        .caja4{
            background: rgb(212, 14, 43);
            
        }
        